<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Xeno" />
    <link rel="icon" type="image/x-icon" href="../assets/icons/favicon.svg" />
    <title>Weather App</title>
  </head>
  <body>
    <div class="spotlights">
      <div class="spotlight spotlight-1"></div>
      <div class="spotlight spotlight-2"></div>
      <div class="spotlight spotlight-3"></div>
    </div>
    <div id="container" style="display: none">
      <header>
        <div class="logo-name">
          <img src="../assets/images/logo.png" alt="" class="logo" draggable="false" />
          <h1 class="name">Xeno</h1>
        </div>
        <div class="search-bar">
          <button class="button-search search-button">
            <img src="../assets/icons/search.svg" alt="" class="search-icon" draggable="false" />
          </button>
          <input type="search" name="search" id="search" list="search-suggestions" />
          <button class="button-search clear-search-button">
            <img src="../assets/icons/clear.svg" alt="" class="search-icon" draggable="false" />
          </button>
          <datalist id="search-suggestions"> </datalist>
        </div>
        <button class="unit-conversion-button">
          <img src="../assets/icons/unit-conversion.svg" alt="" class="unit-conversion-icon" draggable="false" />
        </button>
      </header>
      <main>
        <section class="selected-weather-forecast">
          <h2 class="location-name" data-location>Location</h2>
          <div class="location-day-time">
            <h2 class="location" data-location>Location</h2>
            <h2 class="day" data-day>Day</h2>
            <h2 class="time" data-time>Time</h2>
          </div>
          <section class="temperatures-icon-day-time">
            <div class="day-time">
              <p class="day" data-day>Day</p>
              <p class="time" data-time>—:— —</p>
            </div>
            <section class="temperature-icon">
              <div class="temperatures">
                <p class="min-max-temperature" data-min-max-temperature>—°C / —°C</p>
                <p class="temperature" data-temperature>—°C</p>
                <p class="feelslike-temperature" data-feelslike-temperature>Feels-like —°C</p>
              </div>
              <div class="selected-weather-icon-condition">
                <img src="../assets/icons/weather/day/partly-cloudy.svg" alt="" class="selected-weather-icon" draggable="false" />
                <p class="selected-weather-condition" data-weather-condition>Weather Conditon</p>
              </div>
              <img src="../assets/icons/weather/day/partly-cloudy.svg" alt="" class="selected-weather-icon" draggable="false" />
            </section>
          </section>
          <section class="desktop-details-section">
            <h2 class="desktop-details-heading-location" data-location>Location</h2>
            <div class="desktop-details">
              <div class="desktop-detail">
                <img src="../assets/icons/weather-details/humidity.svg" alt="" class="weather-desktop-detail-icon" />
                <div class="label-value">
                  <p class="label">Humidity</p>
                  <p class="value" data-humidity>—</p>
                </div>
              </div>
              <div class="desktop-detail">
                <img src="../assets/icons/weather-details/precipitation.svg" alt="" class="weather-desktop-detail-icon" />
                <div class="label-value">
                  <p class="label">Precipitation</p>
                  <p class="value" data-precipitation>—</p>
                </div>
              </div>
              <div class="desktop-detail">
                <img src="../assets/icons/weather-details/pressure.svg" alt="" class="weather-desktop-detail-icon" />
                <div class="label-value">
                  <p class="label">Pressure</p>
                  <p class="value" data-pressure>—</p>
                </div>
              </div>
              <div class="desktop-detail">
                <img src="../assets/icons/weather-details/uv-index.svg" alt="" class="weather-desktop-detail-icon" />
                <div class="label-value">
                  <p class="label">UV Index</p>
                  <p class="value" data-uv-index>—</p>
                </div>
              </div>
              <div class="desktop-detail">
                <img src="../assets/icons/weather-details/wind-speed.svg" alt="" class="weather-desktop-detail-icon" />
                <div class="label-value">
                  <p class="label">Wind Speed</p>
                  <p class="value" data-wind-speed>—</p>
                </div>
              </div>
              <div class="desktop-detail">
                <img src="../assets/icons/weather-details/north.svg" alt="" class="weather-desktop-detail-icon" />
                <div class="label-value">
                  <p class="label">Wind Direction</p>
                  <p class="value" data-wind-direction>—</p>
                </div>
              </div>
              <div class="desktop-detail">
                <img src="../assets/icons/weather-details/sunrise.svg" alt="" class="weather-desktop-detail-icon" />
                <div class="label-value">
                  <p class="label">Sunrise</p>
                  <p class="value" data-sunrise>—</p>
                </div>
              </div>
              <div class="desktop-detail">
                <img src="../assets/icons/weather-details/sunset.svg" alt="" class="weather-desktop-detail-icon" />
                <div class="label-value">
                  <p class="label">Sunset</p>
                  <p class="value" data-sunset>—</p>
                </div>
              </div>
            </div>
          </section>
          <p class="selected-weather-condition" data-weather-condition>Weather Conditon</p>
          <button class="mobile-details-button">Details</button>
          <section class="mobile-details-panel-container">
            <div class="mobile-details-panel-overlay"></div>
            <div class="mobile-details-panel">
              <h1 class="mobile-details-heading">Details</h1>
              <div class="mobile-details">
                <div class="detail">
                  <img src="../assets/icons/weather-details/humidity.svg" alt="" class="weather-detail-icon" />
                  <div class="label-value">
                    <p class="label">Humidity</p>
                    <p class="value" data-humidity>—</p>
                  </div>
                </div>
                <div class="detail">
                  <img src="../assets/icons/weather-details/precipitation.svg" alt="" class="weather-detail-icon" />
                  <div class="label-value">
                    <p class="label">Precipitation</p>
                    <p class="value" data-precipitation>—</p>
                  </div>
                </div>
                <div class="detail">
                  <img src="../assets/icons/weather-details/pressure.svg" alt="" class="weather-detail-icon" />
                  <div class="label-value">
                    <p class="label">Pressure</p>
                    <p class="value" data-pressure>—</p>
                  </div>
                </div>
                <div class="detail">
                  <img src="../assets/icons/weather-details/uv-index.svg" alt="" class="weather-detail-icon" />
                  <div class="label-value">
                    <p class="label">UV Index</p>
                    <p class="value" data-uv-index>—</p>
                  </div>
                </div>
                <div class="detail">
                  <img src="../assets/icons/weather-details/wind-speed.svg" alt="" class="weather-detail-icon" />
                  <div class="label-value">
                    <p class="label">Wind Speed</p>
                    <p class="value" data-wind-speed>—</p>
                  </div>
                </div>
                <div class="detail">
                  <img src="../assets/icons/weather-details/north.svg" alt="" class="weather-detail-icon" />
                  <div class="label-value">
                    <p class="label">Wind Direction</p>
                    <p class="value" data-wind-direction>—</p>
                  </div>
                </div>
                <div class="detail">
                  <img src="../assets/icons/weather-details/sunrise.svg" alt="" class="weather-detail-icon" />
                  <div class="label-value">
                    <p class="label">Sunrise</p>
                    <p class="value" data-sunrise>—</p>
                  </div>
                </div>
                <div class="detail">
                  <img src="../assets/icons/weather-details/sunset.svg" alt="" class="weather-detail-icon" />
                  <div class="label-value">
                    <p class="label">Sunset</p>
                    <p class="value" data-sunset>—</p>
                  </div>
                </div>
              </div>
              <button class="mobile-details-dismiss-button">Dismiss</button>
            </div>
          </section>
          <section class="details-section">
            <h1 class="details-heading">Details</h1>
            <div class="details">
              <div class="detail">
                <img src="../assets/icons/weather-details/humidity.svg" alt="" class="weather-detail-icon" />
                <div class="label-value">
                  <p class="label">Humidity</p>
                  <p class="value" data-humidity>—</p>
                </div>
              </div>
              <div class="detail">
                <img src="../assets/icons/weather-details/pressure.svg" alt="" class="weather-detail-icon" />
                <div class="label-value">
                  <p class="label">Pressure</p>
                  <p class="value" data-pressure>—</p>
                </div>
              </div>
              <div class="detail">
                <img src="../assets/icons/weather-details/wind-speed.svg" alt="" class="weather-detail-icon" />
                <div class="label-value">
                  <p class="label">Wind Speed</p>
                  <p class="value" data-wind-speed>—</p>
                </div>
              </div>
              <div class="detail">
                <img src="../assets/icons/weather-details/sunrise.svg" alt="" class="weather-detail-icon" />
                <div class="label-value">
                  <p class="label">Sunrise</p>
                  <p class="value" data-sunrise>—</p>
                </div>
              </div>
              <div class="detail">
                <img src="../assets/icons/weather-details/precipitation.svg" alt="" class="weather-detail-icon" />
                <div class="label-value">
                  <p class="label">Precipitation</p>
                  <p class="value" data-precipitation>—</p>
                </div>
              </div>
              <div class="detail">
                <img src="../assets/icons/weather-details/uv-index.svg" alt="" class="weather-detail-icon" />
                <div class="label-value">
                  <p class="label">UV Index</p>
                  <p class="value" data-uv-index>—</p>
                </div>
              </div>
              <div class="detail">
                <img src="../assets/icons/weather-details/north.svg" alt="" class="weather-detail-icon" />
                <div class="label-value">
                  <p class="label">Wind Direction</p>
                  <p class="value" data-wind-direction>—</p>
                </div>
              </div>
              <div class="detail">
                <img src="../assets/icons/weather-details/sunset.svg" alt="" class="weather-detail-icon" />
                <div class="label-value">
                  <p class="label">Sunset</p>
                  <p class="value" data-sunset>—</p>
                </div>
              </div>
            </div>
          </section>
        </section>
        <section class="forecast">
          <nav class="forecast-toggle">
            <button id="daily-button" class="forecast-toggle-button selected">Daily</button>
            <button id="hourly-button" class="forecast-toggle-button">Hourly</button>
          </nav>
          <ul class="forecast-list" data-day="0" data-hour="-1" data-forecast-list="-1">
            <li>
              <button class="forecast-item selected">
                <p class="forecast-temperature">—°C</p>
                <img src="../assets/icons/weather/day/partly-cloudy.svg" alt="" class="forecast-icon" draggable="false" />
                <p class="forecast-day">Day</p>
              </button>
            </li>
            <li>
              <button class="forecast-item">
                <p class="forecast-temperature">—°C</p>
                <img src="../assets/icons/weather/day/partly-cloudy.svg" alt="" class="forecast-icon" draggable="false" />
                <p class="forecast-day">Day</p>
              </button>
            </li>
            <li>
              <button class="forecast-item">
                <p class="forecast-temperature">—°C</p>
                <img src="../assets/icons/weather/day/partly-cloudy.svg" alt="" class="forecast-icon" draggable="false" />
                <p class="forecast-day">Day</p>
              </button>
            </li>
            <li>
              <button class="forecast-item">
                <p class="forecast-temperature">—°C</p>
                <img src="../assets/icons/weather/day/partly-cloudy.svg" alt="" class="forecast-icon" draggable="false" />
                <p class="forecast-day">Day</p>
              </button>
            </li>
            <li>
              <button class="forecast-item">
                <p class="forecast-temperature">—°C</p>
                <img src="../assets/icons/weather/day/partly-cloudy.svg" alt="" class="forecast-icon" draggable="false" />
                <p class="forecast-day">Day</p>
              </button>
            </li>
            <li>
              <button class="forecast-item">
                <p class="forecast-temperature">—°C</p>
                <img src="../assets/icons/weather/day/partly-cloudy.svg" alt="" class="forecast-icon" draggable="false" />
                <p class="forecast-day">Day</p>
              </button>
            </li>
            <li>
              <button class="forecast-item">
                <p class="forecast-temperature">—°C</p>
                <img src="../assets/icons/weather/day/partly-cloudy.svg" alt="" class="forecast-icon" draggable="false" />
                <p class="forecast-day">Day</p>
              </button>
            </li>
          </ul>
        </section>
      </main>
    </div>
  </body>
</html>
