/* Inter */
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/inter/bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Montserrat */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat/regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/montserrat/bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Weather Data Attribution */
.weather-data-attribution {
  position: fixed;
  left: 50%;
  bottom: 0;
  color: white;
  font-size: 0.8rem;
  transform: translateX(-50%);
  padding-bottom: 0.2rem;
  white-space: nowrap;
  opacity: 0.8;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: white;
  background-color: #106bc1;
}
#container {
  position: relative;
  padding: 1.6rem 2rem;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Spotlights */
.spotlights {
  position: fixed;
  height: 100%;
  width: 100%;
}
.spotlight {
  border: 2px solid black;
  height: 15rem;
  width: 15rem;
  background-color: #4db5ff;
  border-radius: 100%;
  opacity: 0.6;
  filter: blur(4rem);
}
.spotlight-1 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-25%, -25%);
}
.spotlight-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(50%, -75%);
}
.spotlight-3 {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(-50%, -20%);
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 0.4rem;
}
.logo {
  height: 2.5rem;
  border-radius: 50%;
}
.name {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
}
.search-bar {
  position: relative;
  height: 1.8rem;
  flex: 1;
}
.search-bar > input[type="search"] {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: 2px solid white;
  border-radius: 4rem;
  color: white;
  padding: 0 1.4rem;
}
/* Hide native search clear button */
.search-bar > input[type="search"]::-webkit-search-cancel-button {
  display: none;
}
/* Hide dropdown icon from input */
/* For Webkit browsers (Chrome, Safari, Opera) */
.search-bar > input[type="search"]::-webkit-calendar-picker-indicator {
  display: none !important;
}
/* For Firefox */
.search-bar > input[type="search"] {
  -moz-appearance: none !important;
  appearance: none !important; /* Standard property for cross-browser compatibility */
}
/* For Internet Explorer 10+ */
.search-bar > input[type="search"]::-ms-expand {
  display: none !important;
}
.button-search {
  position: absolute;
  height: 0.8rem;
  background: none;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.search-button {
  top: 50%;
  left: 0;
  transform: translate(50%, -50%);
}
.clear-search-button {
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.search-icon {
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.unit-conversion-button {
  height: 2rem;
  border: 2px solid white;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.unit-conversion-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.unit-conversion-button:active {
  transition: background-color 0.15s ease;
  background-color: rgba(255, 255, 255, 0.2);
}
.unit-conversion-icon {
  height: 36%;
  aspect-ratio: 1/1;
  object-fit: contain;
}

/* Main */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.selected-weather-forecast {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 2;
}
.location-name {
  font-weight: 400;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  width: 100%;
}
.day-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.temperatures-icon-day-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
}
.day-time {
  position: relative;
}
.time {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;
}
.date {
  position: absolute;
  right: 0;
  transform-origin: bottom;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.temperatures-icon-day-time.visible-time .date {
  transform: translate(25%, -90%) scale(0.5);
  opacity: 0.8;
}
.selected-weather-forecast.visible-time .date {
  transform: translate(20%, -90%) scale(0.6);
  opacity: 0.8;
}
.temperatures-icon-day-time.visible-time .time,
.selected-weather-forecast.visible-time .time {
  pointer-events: initial;
  opacity: 1;
}
.temperature-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 1.5rem;
}
.min-max-temperature {
  opacity: 0.5;
  font-size: 0.8rem;
}
.temperature {
  font-weight: 700;
  font-size: 3rem;
}
.feelslike-temperature {
  opacity: 0.6;
}
.selected-weather-icon {
  height: 5rem;
}
.selected-weather-condition {
  text-align: center;
}
.mobile-details-button {
  background: none;
  outline: none;
  border: 2px solid white;
  color: inherit;
  font-weight: inherit;
  font-size: 0.8rem;
  padding: 0.4rem 1.8rem;
  border-radius: 4rem;
  transition: background-color 0.25s ease;
  cursor: pointer;
}
.label-value > .value {
  opacity: 0.8;
}
/* Mobile Details Panel */
.mobile-details-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.mobile-details-panel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
.mobile-details-panel {
  position: absolute;
  border: 2px solid white;
  height: fit-content;
  width: 80vmin;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  transform: translateY(-200%) scaleY(0);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
#container.mobile .mobile-details-panel-container.visible > .mobile-details-panel-overlay {
  pointer-events: all;
  opacity: 1;
}
#container.mobile .mobile-details-panel-container.visible > .mobile-details-panel {
  pointer-events: all;
  transform: translateY(0%) scaleY(1);
  opacity: 1;
}
.mobile-details-heading {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 0.4rem;
  font-size: 1.5rem;
}
.mobile-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  gap: 1.2rem;
}
.mobile-details > .detail {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
  white-space: nowrap;
}
.mobile-details > .detail:nth-of-type(4),
.mobile-details > .detail:nth-of-type(6) {
  padding-left: 0.2rem;
}
.weather-detail-icon {
  width: 2rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.mobile-details > .detail > .weather-detail-icon {
  width: 1.2rem;
}
.mobile-details > .detail > .label-value > .label {
  font-size: 0.9rem;
}
.mobile-details > .detail > .label-value > .value {
  font-size: 0.8rem;
}
.mobile-details > .detail:nth-of-type(5) > .weather-detail-icon,
.mobile-details > .detail:nth-of-type(7) > .weather-detail-icon,
.mobile-details > .detail:nth-of-type(8) > .weather-detail-icon {
  width: 1.6rem;
}

.mobile-details-dismiss-button {
  background: none;
  outline: none;
  color: inherit;
  font-size: inherit;
  border: 2px solid white;
  margin: 0.4rem 0;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.mobile-details-dismiss-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.mobile-details-dismiss-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Forecast */
.forecast {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}
.forecast-toggle {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 1rem;
}
.forecast-toggle-button {
  background: none;
  outline: none;
  border: 2px solid white;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  padding: 0.6rem 2rem;
  border-radius: 2rem;
  transition: background-color 0.25s ease;
  cursor: pointer;
}
.forecast-toggle-button.selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.forecast-list {
  border: 2px solid white;
  border-radius: 0.4rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(181, 234, 255, 0.8) rgba(0, 0, 0, 0.2);
  scrollbar-gutter: stable;
}
.forecast-list > li {
  list-style: none;
}
.forecast-item {
  list-style: none;
  border: 2px solid white;
  background: none;
  outline: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 9rem;
  aspect-ratio: 1/1;
  padding: 1rem;
  transition: background-color 0.25s ease;
  cursor: pointer;
}
.forecast-item.selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.forecast-icon {
  height: 3rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}

/* Button acive and hover effects */
.mobile-details-button:hover,
.forecast-toggle-button:not(.selected):hover,
.forecast-item:not(.selected):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.forecast-toggle-button:not(.selected):active,
.forecast-item:not(.selected):active {
  transition: background-color 0.1s ease;
  background-color: rgba(255, 255, 255, 0.2);
}
.mobile-details-button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Unit Conversion Panel */
.unit-conversion-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.unit-conversion-panel-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: opacity 0.5s ease;
}
.unit-conversion-panel-container.visible > .unit-conversion-panel-overlay {
  opacity: 1;
  pointer-events: all;
}
.unit-conversion-panel {
  position: absolute;
  height: fit-content;
  width: 80vmin;
  border: 2px solid white;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 0.4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transform: translateY(-200%) scaleY(0);
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.unit-conversion-panel-container.visible > .unit-conversion-panel {
  transform: translateY(0%) scaleY(1);
  opacity: 1;
  pointer-events: all;
}
.unit-conversion-container {
  width: 100%;
}
.unit-conversion-heading {
  font-size: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  padding-bottom: 0.2rem;
  margin-bottom: 0.6rem;
}
.unit-toggle-container {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
.unit-toggle,
.unit-conversion-panel-done-button {
  background: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.8);
  color: inherit;
  cursor: pointer;
  transition: background-color 0.25s ease;
  background-color: rgba(255, 255, 255, 0.1);
}
.unit-toggle {
  flex: 1;
  font-size: 1rem;
  padding: 0.4rem 1rem;
}
.unit-toggle.selected {
  background-color: rgba(255, 255, 255, 0.2);
}
.unit-toggle:not(.selected):hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.unit-toggle:not(.selected):active {
  transition: background-color 0.15s ease;
  background-color: rgba(255, 255, 255, 0.3);
}
.unit-conversion-panel-done-button {
  font-size: 1rem;
  margin: 0.5rem 0;
  border-radius: 2rem;
  padding: 0.4rem 1.2rem;
}
.unit-conversion-panel-done-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.unit-conversion-panel-done-button:active {
  transition: background-color 0.15s ease;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Inherit font-family on button */
button {
  font-family: inherit;
}

/* Blinking Transition */
.blinking {
  transition-delay: 0s !important;
  opacity: 0 !important;
}
.day,
.label-value > .value,
.selected-weather-icon,
.selected-weather-condition,
.min-max-temperature,
.temperature,
.feelslike-temperature,
.forecast-list > li,
.weather-desktop-detail-icon,
.forecast-temperature,
.forecast-time {
  transition: opacity 0.25s;
}

/* Loading Panel */
.loading-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
.loading-panel {
  position: absolute;
  height: 70vmin;
  aspect-ratio: 1/1;
  border: 2px solid white;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.loading-text {
  font-size: 1rem;
  text-align: center;
}
.loading-text-location-name,
.notification-text-location-name {
  font-weight: 700;
}
.loading-panel-container.visible > .loading-panel {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
}
.loading-icon {
  width: 80px;
  height: 40px;
  border-radius: 100px 100px 0 0;
  position: relative;
  overflow: hidden;
  transform: scale(0.8);
}
.loading-icon:before {
  content: "";
  position: absolute;
  inset: 0 0 -100%;
  background: radial-gradient(farthest-side, #ffd738 80%, #0000) left 70% top 20%/15px 15px,
    radial-gradient(farthest-side, #020308 92%, #0000) left 65% bottom 19%/12px 12px,
    radial-gradient(farthest-side, #ecfefe 92%, #0000) left 70% bottom 20%/15px 15px, linear-gradient(#9eddfe 50%, #020308 0);
  background-repeat: no-repeat;
  animation: l5 2s infinite;
}
@keyframes l5 {
  0%,
  20% {
    transform: rotate(0);
  }
  40%,
  60% {
    transform: rotate(0.5turn);
  }
  80%,
  100% {
    transform: rotate(1turn);
  }
}

/* Notification Panel */
.notification-panel-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.notification-panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid white;
  width: 80vmin;
  aspect-ratio: 1/0.7;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  border-radius: 0.4rem;
  gap: 1rem;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.25s ease, transform 0.25s ease;
}
.notification-panel-container.visible > .notification-panel {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
}
.notification-heading {
  border-bottom: 2px solid rgba(255, 255, 255, 0.8);
  padding-bottom: 0.4rem;
  width: 100%;
}
.notification-text {
  font-size: 1rem;
  width: 100%;
}
.notification-dismiss-button {
  background: none;
  outline: none;
  border: 2px solid white;
  color: inherit;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.25s ease;
}
.notification-dismiss-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.notification-dismiss-button:active {
  transition: background-color 0.15s ease;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Background overlay */
.background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.25s ease;
}
.background-overlay.visible {
  pointer-events: all;
  opacity: 1;
}

/* Tablet */
.location-day-time,
.selected-weather-icon-condition,
.details-section {
  display: none;
}
.selected-weather-icon-condition {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 3rem;
  gap: 3rem;
}
.details-section {
  width: 100%;
  flex-direction: column;
}
.details-heading {
  font-weight: 400;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 0.4rem;
  width: 100%;
  margin-bottom: 1.2rem;
}
.details-section > .details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
  justify-items: flex-start;
  align-items: flex-start;
  padding: 0 1rem;
}
.details-section > .details > .detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  white-space: nowrap;
}
.details > .detail > .label-value {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  /* Header */
  main {
    gap: 2rem;
  }
  .logo {
    height: 4rem;
  }
  .name {
    font-size: 1.8rem;
  }
  .search-bar {
    height: 2.5rem;
  }
  .search-bar > input[type="search"] {
    padding: 0 2.4rem;
    font-size: 1.4rem;
  }
  .button-search {
    height: 1.2rem;
  }
  .search-button {
    transform: translate(70%, -50%);
  }
  .clear-search-button {
    transform: translate(-70%, -50%);
  }
  .unit-conversion-button {
    height: 3rem;
  }
  /* Main */
  .location-name,
  .day-time,
  .selected-weather-condition,
  .selected-weather-icon,
  .mobile-details-button {
    display: none;
  }
  .location-day-time {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
    margin-top: 1.5rem;
  }
  .location-day-time > * {
    font-weight: 400;
  }
  .selected-weather-icon {
    height: 10rem;
  }
  .min-max-temperature {
    font-size: 1.5rem;
  }
  .temperature {
    font-size: 6rem;
  }
  .feelslike-temperature {
    font-size: 2rem;
  }
  .temperature-icon {
    margin-top: unset;
  }
  .selected-weather-icon-condition,
  .details-section {
    display: flex;
  }
  .selected-weather-icon-condition > * {
    display: block;
  }
  .forecast-toggle {
    justify-content: flex-start;
  }
  .temperatures {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .forecast-toggle-button {
    font-size: 1.5rem;
    padding: 0.4rem 2.2rem;
  }
  .forecast-item {
    height: 11rem;
    font-size: 1.2rem;
  }
  .forecast-icon {
    height: 4rem;
  }
  .unit-conversion-panel {
    width: 60vmin;
  }
  .unit-conversion-heading,
  .unit-toggle,
  .unit-conversion-panel-done-button {
    font-size: 1rem;
  }
  .detail:first-of-type > .weather-detail-icon,
  .detail:nth-of-type(3) > .weather-detail-icon,
  .detail:nth-of-type(4) > .weather-detail-icon,
  .detail:nth-of-type(8) > .weather-detail-icon {
    width: 2.5rem;
  }
  .loading-panel {
    height: 50vmin;
  }
  .loading-icon {
    transform: scale(1);
  }
  .loading-text {
    font-size: 1.5rem;
  }
  .notification-panel {
    width: 50vmin;
  }
}

/* Desktop */
.desktop-details-section {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 20rem;
  width: 30rem;
  border: 2px solid white;
  padding: 1rem 2rem;
  gap: 1rem;
}
.desktop-details-heading-location {
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  width: 100%;
  text-align: center;
  font-weight: 400;
  padding-bottom: 0.4rem;
}
.desktop-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  flex: 1;
  justify-items: flex-start;
  align-items: center;
  width: 100%;
  gap: 0 2rem;
}
.desktop-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  white-space: nowrap;
  padding: 0.4rem;
}
.weather-desktop-detail-icon {
  width: 2rem;
  aspect-ratio: 1/1;
  object-fit: contain;
}
.desktop-detail:nth-of-type(2) > .weather-desktop-detail-icon,
.desktop-detail:nth-of-type(3) > .weather-desktop-detail-icon,
.desktop-detail:nth-of-type(6) > .weather-desktop-detail-icon {
  padding: 0.2rem;
}
@media screen and (min-width: 769px) {
  main {
    justify-content: stretch;
    align-items: stretch;
    --outline-radius: 0.4rem;
    --outline-background-color: rgba(255, 255, 255, 0.1);
    gap: 1rem;
  }
  .logo {
    height: 3rem;
  }
  .name {
    font-size: 1.5rem;
  }
  .search-bar {
    height: 80%;
    width: 50%;
    flex: 0 0 auto;
  }
  #search {
    padding: 0 2.2rem;
    font-size: 1.4rem;
  }
  .button-search {
    height: 1.2rem;
  }
  .unit-conversion-button {
    height: 2.5rem;
  }
  .location-name,
  .mobile-details-button,
  .selected-weather-condition,
  .selected-weather-icon {
    display: none;
  }
  .selected-weather-icon-condition {
    display: flex;
  }
  .selected-weather-icon-condition > .selected-weather-condition,
  .selected-weather-icon-condition > .selected-weather-icon {
    display: block;
  }
  .temperatures-icon-day-time {
    border: 2px solid white;
    padding: 1rem;
    height: 100%;
    border-radius: var(--outline-radius);
    background-color: var(--outline-background-color);
    justify-content: flex-start;
    flex: 1.8;
  }
  .temperatures-icon-day-time.visible-time .date {
    transform: translate(25%, -85%) scale(0.5);
  }
  .selected-weather-forecast {
    flex-direction: row;
    justify-content: stretch;
    gap: 1rem;
  }
  .desktop-details-section {
    display: flex;
    flex: 1;
    height: 100%;
    border-radius: var(--outline-radius);
    background-color: var(--outline-background-color);
  }
  .day-time {
    font-size: 1.8rem;
  }
  .selected-weather-icon-condition {
    padding: 1rem;
    gap: 1rem;
  }
  .selected-weather-icon-condition > .selected-weather-icon {
    height: 10rem;
  }
  .min-max-temperature {
    font-size: 1.5rem;
  }
  .temperature {
    font-size: 5rem;
  }
  .temperature-icon {
    margin: unset;
    justify-content: space-between;
    padding: 0 4rem;
    flex: 1;
  }
  .temperatures {
    margin-bottom: 1.5rem;
  }
  .feelslike-temperature {
    font-size: 1.8rem;
  }
  .forecast {
    position: relative;
  }
  .forecast-list {
    align-items: flex-end;
    flex: 1;
    border-radius: var(--outline-radius);
    background-color: var(--outline-background-color);
    padding-bottom: 0.35rem;
  }
  .forecast-toggle {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: unset;
    width: fit-content;
    margin-left: 1rem;
    gap: unset;
  }
  .forecast-toggle-button {
    border-radius: unset;
    padding: 0.4rem 1rem;
  }
  #daily-button {
    border-bottom-left-radius: 0.4rem;
  }
  #hourly-button {
    border-bottom-right-radius: 0.4rem;
  }
  .forecast-item {
    height: 8rem;
  }
  .unit-conversion-panel {
    width: 60vmin;
  }
  .unit-conversion-heading,
  .unit-toggle,
  .unit-conversion-panel-done-button {
    font-size: 1rem;
  }
  .loading-panel {
    height: 50vmin;
  }
  .loading-icon {
    transform: scale(1);
  }
  .loading-text {
    font-size: 1.5rem;
  }
  .notification-panel {
    width: 50vmin;
  }
}
